* {
    box-sizing: border-box;
  }
  
html {
    font-family: sans-serif;
  }
  
body{
  background-color: gold;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: 100px;
  gap: 10px;
    
}


h2{
  font-size: 16px;
  filter: drop-shadow(2px 2px 2px white)

}

img{
    width:40vw;
    height: 40vh;
}

section{
  color: red;
  font-size: 24px;
}



.format{
  color: grey;
  display: grid;

}

.concert{
  color: black;

}

@media screen and (min-width: 400px){
  .concert{
    text-align: center;
    max-width: 400px;
  }
  .format
    text-align: center;
    max-width: 400px;
}