* {
    box-sizing: border-box;
  }
  
html {
    font-family: sans-serif;
  }
  
body{
  background-color: gold;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: 100px;
  gap: 25px;
}

h2{
  font-size: 16px;
  filter: drop-shadow(1px 1px 1px white)
}

section{
  color: red;
  font-size: 24px;
}

article{
  color: black;
  padding: 5px;
}

.format{
  color: black;
  display: grid;
  background-color: orange;

}

.concert{
  color: black;
  background-color: orange;
}

.concert:hover{
  background-color: white;
}

@media screen and (min-width: 400px){
  .concert{
    text-align: center;
    max-width: 1500px;
  }
}