html, body {
    margin: 0;
}
  
html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}
  
body {
    overflow: hidden;
    height: inherit;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 40px;
    background-color: #ffe6e6;
    text-align: center;
    padding-top: 80px;
    border-radius: 40px;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

h1 {
    color: #ef410c;
    position: relative;
    top: 125px;
}    

.input-container {
    display: flex;
  }
  
.input-box {
    width: 80px;
    height: 80px;
    font-size: 24px;
    margin: 0 7px;
    text-align: center;
    border-radius: 40px;
    border: none;
    position: relative;
    top: 150px;
  }

.set-button {
    background-color: yellow;
    color: orange;
    width: 120px;
    height: 110px;
    font-size: 24px;
    border-radius: 20px;
    border: none;
    position: relative;
    top: 200px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
  }
  
.restart-button {
    background-color: limegreen;
    color: paleturquoise;
    width: 120px;
    height: 110px;
    font-size: 24px;
    border-radius: 20px;
    border: none;
    position: relative;
    top: 200px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.submit-button {
    background-color: red;
    color: brown;
    width: 120px;
    height: 110px;
    font-size: 24px;
    border-radius: 20px;
    border: none;
    position: relative;
    top: 200px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}